<%=form_for message, remote: true, authenticity_token: true do |f|%>
   <div class="form-group">
      <%= f.text_area :content, data: {textarea: "message"}%>
   </div>

   <div class="form-group">
      <%= f.file_field :attachment, id: 'message-attachment' %>
      <br>
      <small>Only PNG, JPG and GIf images are allowed</small>
   </div>
   <!-- this hidden field is for the MessagesController and Action Cable to keep track of what chat this message belongs to -->
   <%= f.hidden_field :chat_id, value: chat.id %>

   <%= f.hidden_field :target_to_msg, value: @target %>

   <%= f.hidden_field :user_id, value: current_user.id %>

   <%= f.submit %>

<%end%>
