<%=form_for message, remote: true, authenticity_token: true do |f|%>
   <div class="row">
      <!-- <div class=" col-sm-5">
         <%#= f.file_field :attachment, id: 'message-attachment' %>
         <br>
         <small>Only PNG, JPG and GIf images are allowed</small>
      </div> -->
      <div class="col-sm-12">
         <%= f.text_area :content, data: {textarea: "message"}, class: 'form-control'%>
      </div>
   </div>
   <!-- this hidden field is for the MessagesController and Action Cable to keep track of what chat this message belongs to -->
   <%= f.hidden_field :chat_id, value: chat.id %>

   <%= f.hidden_field :target_to_msg, value: @target %>

   <%= f.hidden_field :user_id, value: current_user.id %>

   <span style="text-align: center"><%= submit_tag "Send", class: "btn btn-round btn-primary" %></span>
<%end%>
