<% if defined?(target) %>
   <% @target = target %>
<% end %>



<% if message.user_id == current_user.id %>
   <li class="sent">
     <%= image_tag "http://emilcarlsson.se/assets/mikeross.png" %>
     <% translation = TRANSLATOR.translate message.content, to: @target %>
     <p><%= translation %></p>
     <% if message.attachment_data? and false %>
        <br>
        <%= link_to "View #{message.attachment.original_filename}",
        message.attachment.url, target: '_blank' %>
     <% end %>
   </li>
<% else %>
   <li class="replies">
      <% translation = TRANSLATOR.translate message.content, to: @target %>
      <%= image_tag "http://emilcarlsson.se/assets/mikeross.png" %>
       <p><%= translation %></p>
       <% if message.attachment_data? and false %>
          <br>
          <%= link_to "View #{message.attachment.original_filename}",
          message.attachment.url, target: '_blank' %>
       <% end %>
   </li>
<% end %>
