<div class="login-page">
   <div class="user">
      <div class="form__group">
         <%= form_for :session, url: session_path do |form| %>
         <div class="login-form">

            <header class="user__header">
               <%= image_tag "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" %>
            </header>
            <br>
            <div class="text-field form__group">
               <%= form.label :username, class: "form-white" %>
               <%= form.text_field :email, type: 'email', class: "form__input" %>
            </div>

            <div class="password-field form__group">
               <%= form.label :password, class: "form-white" %>
               <%= form.password_field :password, class: "form__input" %>
            </div>

            <div class="submit-field">
               <%= submit_tag 'Sign in', class: "btn btn-primary"  %>
            </div>

            <div class="other-links form__group">
               <% if Clearance.configuration.allow_sign_up? %>
               <p>
                  <%= link_to t(".register"), sign_up_path %>
                  <% end %> <br>
                  <%= link_to t(".forgot_password"), new_password_path %>
               </p>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
