
<%= form_for @user do |form| %>


<div class="other-links">
  <!-- <%= link_to t(".sign_in"), sign_in_path %> -->
  <div class="login-page">

    <div class="user">
        <header class="user__header">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" %>
        </header>
        <br>
        <div class="text-field form__group">
          <%= form.label :email, class: "form-white" %>
          <%= form.text_field :email, type: 'email', class: "form__input" %>
        </div>

        <div class="text-field form__group">
           <%= form.label :username, class: "form-white" %>
          <%= form.text_field :username, class: "form__input" %>
        </div>

        <div class="text-field form__group">
           <p class="form-white">Your profile image</p>
          <%= form.file_field :avatar %>
          <%= form.hidden_field :avatar_cache %>
        </div>

        <div class="password-field form__group">
           <%= form.label :password, class: "form-white" %>
          <%= form.password_field :password, class: "form__input" %>
        </div>

        <div class="submit-field">
            <%= submit_tag 'Register', class: "btn btn-primary btn-lg btn-block"  %>
        </div>
        <div class="">
           <small>Already chatting?<strong><%= link_to "Sign in", sign_in_path %></strong></small>
        </div>
    </div>
</div>
</div>
<% end %>
