
<%= form_for @user do |form| %>


<div class="other-links">
  <!-- <%= link_to t(".sign_in"), sign_in_path %> -->
  <div class="login-page">

    <div class="user">
        <header class="user__header">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" %>
        </header>
        <br>
        <div class="text-field form__group">
          <!-- <%= form.label :email %> -->
          <%= form.text_field :email, type: 'email', class: "form__input", placeholder: "Email address" %>
        </div>

        <div class="text-field form__group">
          <%= form.text_field :username, class: "form__input", placeholder: "Username" %>
        </div>

        <!-- <div class="text-field form__group">
          <%#= form.text_field :native_language, class: "form__input", placeholder: "Native Language" %>
        </div> -->
        <%#= select_tag 'target', options_for_select(@all_languagues.collect{ |l| [l[:name], l[:abrv]] }) %>

        <div class="password-field form__group">
          <%= form.password_field :password, class: "form__input", placeholder: "Password" %>
        </div>

        <div class="submit-field">
            <%= submit_tag 'Register', class: "btn btn-primary"  %>
        </div>
        <div class="">
           <small>Already chatting? <%= link_to "Sign in", sign_in_path %></small>
        </div>
    </div>
</div>
</div>
<% end %>
