<div class="container">
   <div class="row">
      <div id="clearance" class="password-reset">
         <h2><%= t(".title") %></h2>
         <p><%= t(".description") %></p>

         <%= form_for :password, url: passwords_path do |form| %>
         <div class="text-field form__group">
            <%= form.label :email %>
            <%= form.text_field :email, type: "email", class: "form__input", placeholder: "Email" %>
         </div>

         <div class="submit-field">
            <%= submit_tag "Reset password", class: "btn btn-primary " %>
         </div>
         <% end %>
      </div>
   </div>
</div>
